@charset "utf-8";
@keyframes fadeIn {
    0% {
        opacity: 0; /* 最初は透明 */
    }
    100% {
        opacity: 1; /* 最終的に完全に表示 */
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes svg-anime {
  0% {
    fill: transparent;
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
  }
  90% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100%{
    fill: #C8531C;
  }
}

*{
  margin: 0;
  padding: 0;
}

img{
  pointer-events: none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  user-select:none;
}

body{
    font-family: "Neue Haas Grotesk","游ゴシック", sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease forwards; /* フェードインのアニメーションを1秒で適用 */
}

.fade-out {
    animation: fadeOut 1s ease forwards;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #FFFDF1;
}
::-webkit-scrollbar-thumb{
  background-color: #C8531C;
}


.loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #FFFDF1;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .2s ease;
  opacity: 1;
}

.loader-logo path{
  fill: #C8531C; /* 中を塗りつぶさない */
  stroke: #C8531C;
  stroke-width: 5px;
  stroke-dasharray: 5000; /* パスの長さに応じて調整 */
  stroke-dashoffset: 5000;
  animation: svg-anime 1.5s ease-in;
}

.loader.fade-out{
  opacity: 0;
  pointer-events: none;
}

/* メインビジュアル用スタイル */

.firstview{
  display: flex;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.main_visual {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 3;
  overflow: hidden;
}
.main_visual__logo {
  width: 90%; /* ロゴの幅を調整 */
  max-width: 1250px; /* 最大幅を設定 */
  height: auto; /* 縦横比を維持 */
}
.key_visual{
  position: absolute;
  top: 0;
  right: 0;
  height: 70%;
  min-width: 65%;
  padding-top: 6rem;
  z-index: 2;
  max-width: 60%;
}

.key_illust{
  object-position: center;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.key_symbol{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 80%;
  display: block;
  margin-top: 1rem;
  margin-left: 2rem;
  z-index: 0;
  filter: blur(.8rem);
  place-items: center;
  
}

.separator{
  width: 100%;
  bottom: 0;
  position: absolute;
  z-index: 4;
  justify-content: center;
  text-align: center;
}

.separator img{
  vertical-align: middle;
}

.header{
    margin-top: 10px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    height: 90px;
    border-radius: 100vh;
    background: #C8531C;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* フチとぼかしなしの影 */
    border: 2px solid #000;
    z-index: 100;
  }
  .header__inner{
    max-width: 1150px;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header__logo{
    flex: none;
    width: auto;
    height: 40px;
  }
  .hamburger{
    display: none; /* デフォルトでは非表示 */
    justify-content: flex-start;
    width: 30px;
    height: 20px;
    cursor: pointer;
    background-color: #C8531C;
    margin-left: auto;
    position: relative;
  }
  .hamburger span{
    display: none;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 10px;
    background: #FFFDF1;
  }
  .hamburger span:nth-child(1){
    top: 0;
  }
  .hamburger span:nth-child(2){
    top: 50%;
  }
  .hamburger span:nth-child(3){
    top: 100%;
  }

  button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
  }

  /* アクティブ時 */
  .hamburger.active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .hamburger.active span:nth-child(1){
    transform: translateY(7px) rotate(-45deg);
  }
  .hamburger.active span:nth-child(2){ 
    transform: translateY(-2px) rotate(45deg);   
  }
  .hamburger.active span:nth-child(3){
    opacity: 0;
  }

  .header__navgroup{
    margin-left: auto;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
  }
  .header__navgroup > * + *{
    margin-left: 20px;
  }
  .header__navitem{
    display: flex;
    font-size: 16px;
    color: #FFFDF1;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* 下線を消す */
    transition: color 0.3s ease; /* 色の変更にアニメーションを追加 */
  }

  .header__navitem:hover {
    color: #000; /* ホバー時の色 */
}

/* カレント表示 */
.header__navitem.current a {
  color: #000;
}

.header_sns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* アイコンサイズを調整 */
  cursor: pointer;
  margin-left: 0;
}
.x_sns{
  display: flex;
}
.x_sns img{
  width: 17px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram_sns{
  align-items: center;
}
.instagram_sns img{
  width: 19px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bsky_sns{
  align-items: center;
}
.bsky_sns img{
  width: 19px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  background-color: #FFFDF1;
}

article{
  width: 75%;
  margin: 0 auto;
  padding-top: 5rem;
}

article section{
  background-color: #FFFDF1;
}

article section h1{
  font-family: "Helvetica";
  font-size: 4rem;
  font-weight: 800;
  font-display: swap;
  color: #C8531C;
  letter-spacing: .125rem;
  margin-bottom: 2rem;
  display: block;
  margin: 0 auto;
  padding: 0 35px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-template-rows: minmax(100px, auto);
  gap: 20px;
  padding: 0 30px;
  margin-bottom: 45px;
}

.thumbnail{
  width: 100%;
  margin-right: 5%;
  border-radius: 1vh;
}

.thumbnail img{
  max-width: 100%;
  border-radius: 8px;
}

.thumbnail img:nth-child(3n-1){
  margin-right: 0;
}

.btn{
  display: block;
  margin: 0 auto;
  align-items: center;
  width: 30%;
  border-radius: 100vh;
  border: #000000 2px solid;
  background-color: #C8531C;
  color: #FFFDF1;
  padding: 10px;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
  margin-bottom: 50px;
  text-align: center;
  max-width: 25%;
}

/* ヘッダー用設定 */
.footer_main{
  width: 100%;
  height: 90px;
  background-color: #C8531C;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer_logo {
  width: 100%;
  max-width: 250px;
}

.mf_logo_footer{
  margin-top: 10px;
  margin-left: 10px;
}

.copy{
  width: 100%;
  font-size: 80%;
  text-align: left;
  background-color: #C8531C;
  color: #FFFDF1;
}

small{
  font-family: sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

/* プロフィールページ */

.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 100px;
  max-width: 1000px;
  margin: 50px auto;
}

.flexbox_pc_tab{
  display: flex;
  gap: clamp(10px, 6vw, 52px);
}

.profile_heading{
  display: flex;
  padding-bottom: 2rem;
}

.profile_title{
  font-size: 40px;
  left: 0;
  padding: 0 1rem;
  border: #000 2px solid;
  border-radius: 100vw;
  color: #FFFDF1;
  background-color: #C8531C;
}

.profile__image{
  position: relative;
}

.profile__image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: #C8531C 5px solid;
}

.profile__info {
    text-align: left;
}

.profile__name {
    font-size: 24px;
    margin-bottom: 10px;
    color: #C8531C;
}

.profile__name_kanji{
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    color: #C8531C;
}

.profile__bio p{
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 16px;
    color: #C8531C;
    line-height: 1.6;
}

/* indexのプロフィール */

#about{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(1rem);
}

.content-list{
  z-index: 2;
  opacity: 0;
  display: flex;
  transition: all 0.2s;
}
.content-list.active {
  position: relative;
  z-index: 10;
  opacity: 1;
}
.list-wrapper{
  display: flex;
  margin: auto;
  width: 100%;
  min-height: 20vw;
  min-width: 20vw;
  max-width: 100vh;
  max-height: 50vh;
  background-color: #C8531C;
  border-radius: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
  border: 2px solid #000;
}
.about-header{
  font-weight: 100;
  text-align: left;
  color: #FFFDF1;
  padding: 10px;
  margin-left: 10px;
}
#about .about-image{
  display: block;
  max-height: 120px;
  max-width: 100%;
  margin: 2rem 0 1rem .5rem;
  border-radius: 50%;
}
#about .about-content{
  margin: 1rem auto;
  padding: 1rem 0 0 2rem;
  font-weight: 300;
  max-height: 100%;
  max-width: 100%;
  font-size: .8rem;
  margin-bottom: 20px;
  color: #FFFDF1;
}

#about .about-content p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  word-break: auto-phrase;
}

#about .about-header h1{
  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.toProfile{
  display: flex;
  margin-inline: auto;
  padding: 1rem 1rem 1rem 0;
  text-align: center;
}
.toProfile_btn{
  white-space: nowrap;
  font-size: 14px;
  background-color: #C8531C;
  border: #FFFDF1 2px solid;
  border-radius: 100vw;
  color: #FFFDF1;
  text-decoration: none;
  padding: .2rem;
  transition: color 0.5s ease;
  margin-top: auto;
}
.toProfile_btn:hover{
  background-color: #FFFDF1;
  color: #C8531C;
  border: #C8531C 2px solid;
}

.blog_main{
  width: 100%;
  height: 100vh;
}

.contact_page{
  width: 100%;
  height: 100vh;
}

  /* メディアクエリ：画面サイズが820px以下の場合 */
  @media screen and (max-width: 820px) {
    .loader-logo{
      width: 50%;
    }    
    .header{
      margin-top: 10px;
      align-items: center;
      position: fixed;
      top: 0;
      left: 10%;
      width: 80%;
      height: 60px;
      border-radius: 100vh;
      background: #C8531C;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 5px 5px 0px rgba(0, 0, 0, 1); /* フチとぼかしなしの影 */
      border: 2px solid #000;
      z-index: 100;
    }
    .header__logo{
      flex: none;
      width: auto;
      height: 30px;
    }
    .header__navgroup {
      opacity: 0;
      display: none; /* メニューは非表示にする */
      transition: opacity 0.5s ease;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        color: #FFFDF1;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .hamburger, .hamburger span{
      display: flex;
      transition: all .5s;
    }
    
    .header.active .header__navgroup {
        display: flex; /* ハンバーガーメニューがクリックされたときにメニューを表示 */
        flex-direction: column;
        position: absolute;
        line-height: 300%;
        text-align: center;
        top: 30pt;
        right: 0; /* バナーの横幅に対応させる */
        width: 40%; /* バナーと同じ横幅 */
        height: auto; /* 高さはコンテンツに合わせる */
        background-color: #C8531C;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
        border: 2px solid #000;
        animation: fadeIn .5s ease forwards;
    }
    .header__navgroup.fade-in {
      display: flex;
      opacity: 1;
  }
  
  .header__navgroup.fade-out {
      opacity: 0;
  }

    .header__navgroup > * + * {
        margin-left: 0;
        margin-top: 10px;
    }
    .header__navitem{
      display: flex;
      font-size: 16px;
      color: #FFFDF1;
      justify-content: center;
      align-items: center;
      padding: .5rem;
    }

    .header_sns {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; /* アイコンサイズを調整 */
      padding: 1rem;
    }
    .x_box{
      justify-content: center;
    }
    .x_sns{
      padding: 0 .5rem;
    }
    .x_sns img{
      width: 17px;
      margin-left: 0;
    }
    .instagram_sns{
      padding: 0 .5rem;
    }
    .instagram_sns img{
      width: 17px;
      margin-left: 0;
    }
    .bsky_sns{
      padding: 0 .5rem;
    }
    .bsky_sns img{
      width: 17px;
      margin-left: 0;
    }

    #about{
      display: flex;
      top: 0;
      left: 0;
      width: 100%;
      margin: 5 auto;
    }
    
    .content-list{
      z-index: 0;
      opacity: 0;
      display: flex;
      transition: all 0.2s;
    }
    .content-list.active {
      z-index: 10;
      opacity: 1;
    }
    .list-wrapper {
      display: block;
      margin-top: 6rem;
      margin-left: auto;
      margin-right: auto;
      width: 60vw;
      max-height: 80vh;
      background-color: #C8531C;
      border-radius: 20px;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
      border: 2px solid #000;
    }

    .about-header{
      font-weight: 100;
      text-align: center;
      color: #FFFDF1;
      padding: 8px;
      margin: 5px;
    }
    #about .about-image{
      display: block;
      max-height: 150px;
      min-width: 50px;
      max-width: 100%;
      margin: 1rem auto;
      border-radius: 50%;
    }
    #about .about-content{
      margin: 1rem auto;
      padding: 0 1rem;
      font-weight: 300;
      max-height: 100%;
      max-width: 500px;
      font-size: .7rem;
      margin-bottom: 20px;
      color: #FFFDF1;
    }
    
    #about .about-content p{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      unicode-bidi: isolate;
    }
    
    #about .about-header h1{
      display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }

    .toProfile{
      display: block;
      margin-inline: auto;
      padding: .5rem 1rem 1rem 1rem;
      text-align: center;
      align-items: flex-end;
    }
    .toProfile_btn{
      white-space: nowrap;
      font-size: 16px;
      background-color: #C8531C;
      border: #FFFDF1 2px solid;
      border-radius: 100vw;
      color: #FFFDF1;
      text-decoration: none;
      padding: .2rem;
      transition: color 0.5s ease;
    }
    .toProfile_btn:hover{
      background-color: #FFFDF1;
      color: #C8531C;
      border: #C8531C 2px solid;
    }
    

    .firstview{
      position: relative;
      height: 100vh;
    }
    
    .key_visual{
      top: 0;
      left: 0;
      padding-top: 4rem;
      display: flex;
      justify-content: center;
      height: 80vh;
      width: 100%;
      margin: auto;
      max-width: 90%;
    }

    .key_illust{
      max-width: 95%;
      height: auto;
    }
    
    .key_symbol{
      position: absolute;
      top: 0;
      width: 90%;
      display: flex;
      margin-top: 5rem;
      z-index: 1;
      filter: blur(.5rem);
    }

    .key_logo{
      object-position: center;
      width: 100%;
    }

    .main_visual {
      width: 100%;
      height: 95vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      z-index: 3;
      overflow: hidden;
    }
    
    .main_visual__logo {
      width: 90%; /* ロゴの幅を調整 */
      max-width: 1250px; /* 最大幅を設定 */
      height: auto; /* 縦横比を維持 */
    }

    .separator{
      width: 100%;
      bottom: 0;
      position: absolute;
      z-index: 4;
      justify-content: center;
      text-align: center;
    }
    
    .separator img{
      vertical-align: middle;
    }

    article{
      width: 80%;
      margin: 0 auto;
      padding: 0 2vw;
    }
    
    article section{
      margin-top: 5rem;
    }
    
    article section h1{
      font-family: "Helvetica";
      font-size: 2rem;
      font-weight: 800;
      font-display: swap;
      color: #C8531C;
      letter-spacing: .125rem;
      margin-bottom: 2rem;
      display: block;
      margin: 0 auto;
      padding: 0 .5rem;
    }
    
    .grid{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
      grid-auto-rows: minmax(50px, auto);
      gap: 8px;
      padding: 0 10px;
      margin-bottom: 45px;
    }
    
    .thumbnail{
      width: 100%;
      border-radius: 1vh;
    }
    
    .thumbnail img{
      max-width: 100%;
      border-radius: 8px;
    }
    
    .thumbnail img:nth-child(3n-1){
      margin-right: 0;
    }

    .btn{
      display: block;
      margin: 0 auto;
      align-items: center;
      width: 30%;
      border-radius: 100vh;
      border: #000000 2px solid;
      background-color: #C8531C;
      color: #FFFDF1;
      padding: 10px;
      box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
      margin-bottom: 50px;
      text-align: center;
      max-width: 40%;
      min-width: 30%;
    }
  }